
:root{
    --color: royalblue;
}


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

html{
    background-color: white;
}
.container{
    color: white;
    margin: auto;
    background-color: #161F2D;
    width: 60%;
    height: 500px;
    padding: 50px;
    margin-top: 100px;
    border-radius: 20px;
    border-top: var(--color) 8px solid;
    border-bottom: var(--color) 8px solid;
}
button{
    color: var(--color);
    display: block;
    margin-top: 30px;
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    border: 0;
    border-right: var(--color) 3px solid;
    border-bottom: var(--color) 3px solid;
    font-weight: 600;
}
button:hover{
    background-color: var(--color);
    color: white;
    display: block;
    margin-top: 30px;
    padding: 10px;
    font-size: 17px;
    border-radius: 10px;
    border: 0;
    border-right: white 3px solid;
    border-bottom: white 3px solid;
}
input{
    color: var(--color);
    margin-top: 60px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 10px;
    border: 0;
    border-bottom:var(--color) 3px solid;
    border-right:var(--color) 3px solid;
    margin-right: 30px;
    font-size: 35px;

}
input::placeholder{
    color: rgba(65, 105, 225, 0.699);
}




h1{
    margin-bottom: 20px;
    color: var(--color);
}
.texto{
    border-bottom: var(--color) 4px solid;
    padding-bottom: 20px;
}
.inputs{
    width: 49%;
    float: left;

}
.res{
    margin-top: 60px;
    border-right:var(--color) 6px solid;
    border-bottom:var(--color) 6px solid;
    background-color: white;
    color: black;
    float: right;
    width: 48%;
    border-radius: 20px;

    height: 300px;
}
.res p{
    padding: 30px;
    font-size: 22px;
    margin: auto;
    margin-bottom: 5px;
}
h1, .container,.texto, input, button,.res{
    animation-name: mudarCor;
    animation-duration: 5s;
}